.plus-box-styleB-4 {
	position:absolute;
	left:3%;
	top:430%;
}
.plus-box-styleB-4 .box-styleB-1 {
    color:black;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Crimson Pro;
	text-align:left;
	font-size:32px;
}
.plus-box-styleB-4 .box-styleB-2 {
    color:black;
	position:absolute;
	left:40px;
	top:0px;
	font-family:Crimson Pro;
	text-align:left;
	font-size:32px;
}
.plus-box-styleB-4 .box-styleB-3 {
    color:black;
	position:absolute;
	left:80px;
	top:0px;
	font-family:Crimson Pro;
	text-align:left;
	font-size:32px;
}
.plus-box-styleB-4 .box-styleB-4 {
    color:black;
	position:absolute;
	left:120px;
	top:0px;
	font-family:Crimson Pro;
	text-align:left;
	font-size:32px;
}

.plus-box-styleB-4 .box-styleB-5 {
	color:black;
	position:absolute;
	left:0px;
	top:40px;
	font-family:Crimson Pro;
	text-align:left;
	font-size:32px;
}
.plus-box-styleB-4 .box-styleB-6 {
	color:black;
	position:absolute;
	left:40px;
	top:40px;
	font-family:Crimson Pro;
	text-align:left;
	font-size:32px;
}

.plus-box-styleB-4 .box-styleB-7 {
    color:black;
	position:absolute;
	left:80px;
	top:40px;
	font-family:Crimson Pro;
	text-align:left;
	font-size:32px;
}
.plus-box-styleB-4 .box-styleB-8 {
    color:black;
	position:absolute;
	left:120px;
	top:40px;
	font-family:Crimson Pro;
	text-align:left;
	font-size:32px;
}


.plus-box-styleB-4 .box-styleB-9 {
    color:black;
	position:absolute;
	left:0px;
	top:80px;
	font-family:Crimson Pro;
	text-align:left;
	font-size:32px;
}
.plus-box-styleB-4 .box-styleB-10 {
    color:black;
	position:absolute;
	left:40px;
	top:80px;
	font-family:Crimson Pro;
	text-align:left;
	font-size:32px;
}
.plus-box-styleB-4 .box-styleB-11 {
    color:black;
	position:absolute;
	left:80px;
	top:80px;
	font-family:Crimson Pro;
	text-align:left;
	font-size:32px;
}
.plus-box-styleB-4 .box-styleB-12 {
    color:black;
	position:absolute;
	left:120px;
	top:80px;
	font-family:Crimson Pro;
	text-align:left;
	font-size:32px;
}


.plus-box-styleB-4 .box-styleB-13 {
    color:black;
	position:absolute;
	left:0px;
	top:120px;
	font-family:Crimson Pro;
	text-align:left;
	font-size:32px;
}
.plus-box-styleB-4 .box-styleB-14 {
	color:black;
	position:absolute;
	left:40px;
	top:120px;
	font-family:Crimson Pro;
	text-align:left;
	font-size:32px;
}
.plus-box-styleB-4 .box-styleB-15 {
    color:black;
	position:absolute;
	left:80px;
	top:120px;
	font-family:Crimson Pro;
	text-align:left;
	font-size:32px;
}
.plus-box-styleB-4 .box-styleB-16 {
    color:black;
	position:absolute;
	left:120px;
	top:120px;
	font-family:Crimson Pro;
	text-align:left;
	font-size:32px;
}