{% extends 'base/base.html' %}
{% load static %}

{% block head %}
<title>LBH Soloraya | Beranda</title>

<link rel="stylesheet" href="{% static 'css/landing/landing.css' %}">
{% endblock %}


{% block body %}
<body>
    <header>
        <div class="navigation-container animate__animated">
            <div class="top-head">
                <div class="head-logo">
                    <img src="/static/img/logo.png" alt="header-logo" class="head-logo">
                </div>
                <div class="ham-btn">
                    <span>
                        <i class="fas fa-bars"></i>
                    </span>
                </div>
                <div class="times-btn">
                    <span>
                        <i class="fas fa-times"></i>
                    </span>
                </div>
            </div>
            <div class="nav-bar" id="nav-bar">
                <nav>
                    <ul>
                        <li><a href="#">Beranda</a></li>
                        <li><a href="/blog/">Berita</a></li>
                        <!-- <li><a style="color: white;" href="https://api.whatsapp.com/send?phone=62215680513&text=Saya." class="float"
                                target="_blank">
                                <i class="fa fa-whatsapp"></i>
                            </a></li> -->
                    </ul>
                </nav>
            </div>
            <!-- TODO:: Add searchBar -->
            <div class="search-bar"></div>
        </div>
    </header>

    <section class="title">
        <h2 class="animate__animated">LEMBAGA BANTUAN HUKUM</span>
            <h1 class="animate__animated">SOLO RAYA JUSTICE</span>
    </section>

    <section class="our-team">
        <div class="our-team-left" data-aos="fade-right">
            <ul>I.</ul>
            <h3>Tim Kami</h3>
            <p>Sebagai sebuah Lembaga Bantuan Hukum, SORATICE (Solo Raya Justice) akan terus memperjuangkan pemenuhan,
                penghormatan dan perlindungan Hak Asasi Manusia (HAM), dalam setiap langkah organisasi induk, LBH
                SORATICE selalu berpegang teguh pada nilai-nilai keberagaman,non-diskriminasi dan keadilan gender.</p>
        </div>
        <div class="our-team-right" data-aos="fade-left">
            <img src="/static/img/landing/our-team/team.png" alt="">
        </div>
    </section>

    <section class="purpose">
        <div class="purpose-content">
            <img src="/static/img/landing/pic6.jpg" alt="">
            <div class="purpose-right" data-aos="fade-left">
                <ul>II.</ul>
                <hr>
            </div>
            <div class="purpose-left">
                <h3 data-aos="fade-right">Apa yang SORATICE lakukan</h3>
                <p data-aos="fade-right">Kehadiran SORATICE bagi masyarakat yang “Terpinggirkan” tidak saja dalam bentuk proses mencari
                    keadilan, tetapi justru juga akan memberikan suatu proses pendidikan hukum (legal education), yang
                    mana akan dapat menumbuhkan suatu kesadaran hukum (legal consciousness) bagi masyarakat, agar dapat
                    mengerti dan memahami akan hak-hak dan kewajibannya berinteraksi hukum dalam masyarakat.</p>
                <div class="purpose-action">
                    <hr>
                    <a>
                        <div class="purpose-btn">
                            <h5 class="more-txt" data-aos="fade-right">Konsultasi Hukum</h5>
                            <div id="purpose-trigger-1" onclick="purposeShowContent('purpose-text-1')"
                                class="plus-container" style="cursor: pointer;">
                                <i class="fa-regular fa-plus"></i>
                            </div>
                        </div>
                        <div id="purpose-text-1" class="purpose-text">
                            <ul>
                                <li>
                                    Layanan Pengaduan
                                </li>
                                <li>
                                    Layanan Perceraian
                                </li>
                            </ul>
                        </div>
                    </a>

                    <hr>
                    <a>
                        <div class="purpose-btn">
                            <h5 class="more-txt" data-aos="fade-right">Pelayanan Online</h5>
                            <div id="purpose-trigger-2" onclick="purposeShowContent('purpose-text-2')"
                                class="plus-container" style="cursor: pointer;">
                                <i class="fa-regular fa-plus"></i>
                            </div>
                        </div>
                        <div id="purpose-text-2" class="purpose-text">
                            <ul>
                                <li>
                                    Layanan Pengaduan
                                </li>
                                <li>
                                    Layanan Perceraian
                                </li>
                            </ul>
                        </div>
                    </a>
                    <hr>
                </div>
            </div>

        </div>
    </section>

    <section class="partner">
        <hr>
        <h3 data-aos="fade-down">Bekerja sama dengan</h3>
        <div class="slider-track">
            <div class="slide">
                <img src="/static/img/landing/logo_girlupuns.png" alt="">
            </div>
            <div class="slide">
                <img src="/static/img/landing/logo_hukumonline1.png" alt="">
            </div>
            <div class="slide">
                <img src="/static/img/landing/logo_icjr.png" alt="">
            </div>
            <div class="slide">
                <img src="/static/img/landing/logo_kapas.png" alt="">
            </div>

            <div class="slide">
                <img src="/static/img/landing/logo_girlupuns.png" alt="">
            </div>
            <div class="slide">
                <img src="/static/img/landing/logo_hukumonline1.png" alt="">
            </div>
            <div class="slide">
                <img src="/static/img/landing/logo_icjr.png" alt="">
            </div>
            <div class="slide">
                <img src="/static/img/landing/logo_kapas.png" alt="">
            </div>
        </div>
        <hr>
    </section>

    <section class="blogs">
        <div class="blogs-left">
            <ul data-aos="fade-right">III.</ul>
            <h3 data-aos="fade-right">Berita</h3>
            <div data-aos="zoom-in">
                <div class="carousel">
                  <ul class="slides">
                    <input type="radio" name="radio-buttons" id="img-1" checked />
                    <li class="slide-container">
                      <div class="slide-image">
                        <img src="/static/img/landing/home-blog1.jpg">
                      </div>
                      <div class="carousel-controls">
                        <label for="img-3" class="prev-slide">
                          <span>&lsaquo;</span>
                        </label>
                        <label for="img-2" class="next-slide">
                          <span>&rsaquo;</span>
                        </label>
                      </div>
                    </li>
                    <input type="radio" name="radio-buttons" id="img-2" />
                    <li class="slide-container">
                      <div class="slide-image">
                        <img src="https://content.r9cdn.net/rimg/dimg/db/02/06b291e8-city-14912-171317ad83a.jpg?width=1750&height=1000&xhint=3040&yhint=2553&crop=true">
                      </div>
                      <div class="carousel-controls">
                        <label for="img-1" class="prev-slide">
                          <span>&lsaquo;</span>
                        </label>
                        <label for="img-3" class="next-slide">
                          <span>&rsaquo;</span>
                        </label>
                      </div>
                    </li>
                    <input type="radio" name="radio-buttons" id="img-3" />
                    <li class="slide-container">
                      <div class="slide-image">
                        <img src="https://speakzeasy.files.wordpress.com/2015/05/twa_blogpic_timisoara-4415.jpg">
                      </div>
                      <div class="carousel-controls">
                        <label for="img-2" class="prev-slide">
                          <span>&lsaquo;</span>
                        </label>
                        <label for="img-1" class="next-slide">
                          <span>&rsaquo;</span>
                        </label>
                      </div>
                    </li>
                    <div class="carousel-dots">
                      <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
                      <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
                      <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
                    </div>
                  </ul>
                </div>
              </div>
        </div>
    </section>

    <section class="gallery">
        <div class="gallery-right">
            <div class="gallery-num" data-aos="fade-left">
                <ul>IV.</ul>
                <hr>
            </div>
            <h3 data-aos="fade-right">Galeri</h3>
        </div>
        <div class="grid-wrapper">
            <div class="more-gallery" id="more-gallery">
                <h5 data-aos="fade-down">Aktif!</h5>
                <p data-aos="fade-left">SORATICE aktif terlibat dalam kegiatan-kegiatan dengan masyarakat</p>
                <div class="more-btn">
                    <div class="plus-container">
                        <i class="fa-regular fa-plus"></i>
                    </div>
                    <a href="" data-aos="fade-right">Lebih Lanjut</a>
                </div>
            </div>
            <div data-aos="fade-up">
                <img src="/static/img/landing/home-blog1.jpg" alt="">
            </div>
            <div data-aos="fade-up">
                <img src="/static/img/landing/home-blog1.jpg" alt="">
            </div>
            <div id="bigImg" data-aos="fade-left">
                <img src="/static/img/landing/home-blog1.jpg" alt="">
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-container">
            <div class="footer-left">
                <div class="logo">
                    <img src="/static/img/logo.png" alt="footer-logo">
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur molestias aut blanditiis totam
                    quia enim,</p>
            </div>
            <div class="footer-right information">
                <h2>Alamat Kami</h2>
                <div>
                    <i class="fa-solid fa-location-dot"></i>
                    <p>Jl. Temugiring Raya, Pajang, Kec. Laweyan, Kota Surakarta, Jawa Tengah</p>
                </div>
                <h2>Hubungi Kami</h2>
                <div>
                    <i class="fa-solid fa-phone"></i>
                    <p>0812-1568-0513</p>
                </div>
            </div>
        </div>

        <p>Copyright &copy; 2022 LBH Soloraya.</p>
    </footer>

    <script src="/static/js/landing/landingScript.js" async defer></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 2000
      });
    </script>
</body>
{% endblock %}