{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>LBH Soloraya | Home</title>
    
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Pro&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet" />

    <link rel="stylesheet" href="/static/css/landing/landing.css">
    <link rel="stylesheet" href="/static/css/landing/landing-resp.css">
    <link rel="stylesheet" href="/static/css/landing/widgets/plus_box_styleW_1.css">
    <link rel="stylesheet" href="/static/css/landing/widgets/plus_box_styleW_2.css">
    <link rel="stylesheet" href="/static/css/landing/widgets/plus_box_styleB_1.css">
    <link rel="stylesheet" href="/static/css/landing/widgets/plus_box_styleB_2.css">
    <link rel="stylesheet" href="/static/css/landing/widgets/plus_box_styleB_3.css">
    <link rel="stylesheet" href="/static/css/landing/widgets/plus_box_styleB_4.css">
    <link rel="stylesheet" href="/static/css/landing/widgets/box-style.css">
    <link rel="stylesheet" href="/static/css/landing/widgets/img-style.css">
    <link rel="stylesheet" href="/static/css/landing/widgets/line-style.css">
{% endblock %}


{% block body %}
<body>
    <header>
        <a href="#" class="logo-wrapper">
            <div class="logo"></div>
        </a>
        <!-- TODO Add menu button if small screen -->
        <ul class="navbar">
            <li><a href="#">Home</a></li>
            <li><a href="blog/">Blogs</a></li>
        </ul>
    </header>

    <section class="title-container">
        <h2 class="sub-title">LEMBAGA BANTUAN HUKUM</span>
        <h1 class="main-title">SOLO RAYA JUSTICE</span>
    </section>

    <div class="plus-box-styleW-1">
        <span class="box-styleW-1">+</span>
        <span class="box-styleW-2">+</span>
        <span class="box-styleW-3">+</span>
        <span class="box-styleW-4">+</span>
        <span class="box-styleW-5">+</span>
        <span class="box-styleW-6">+</span>

        <span class="box-styleW-7">+</span>
        <span class="box-styleW-8">+</span>
        <span class="box-styleW-9">+</span>
        <span class="box-styleW-10">+</span>
        <span class="box-styleW-11">+</span>
        <span class="box-styleW-12">+</span>

        <span class="box-styleW-13">+</span>
        <span class="box-styleW-14">+</span>
        <span class="box-styleW-15">+</span>
        <span class="box-styleW-16">+</span>
        <span class="box-styleW-17">+</span>
        <span class="box-styleW-18">+</span>

        <span class="box-styleW-19">+</span>
        <span class="box-styleW-20">+</span>
        <span class="box-styleW-21">+</span>
        <span class="box-styleW-22">+</span>
        <span class="box-styleW-23">+</span>
        <span class="box-styleW-24">+</span>

        <span class="box-styleW-25">+</span>
        <span class="box-styleW-26">+</span>
        <span class="box-styleW-27">+</span>
        <span class="box-styleW-28">+</span>
        <span class="box-styleW-29">+</span>
        <span class="box-styleW-30">+</span>

        <span class="box-styleW-31">+</span>
        <span class="box-styleW-32">+</span>
        <span class="box-styleW-33">+</span>
        <span class="box-styleW-34">+</span>
        <span class="box-styleW-35">+</span>
        <span class="box-styleW-36">+</span>
    </div>
    <div class="plus-box-styleB-1">
        <span class="box-styleB-1">+</span>
        <span class="box-styleB-2">+</span>
        <span class="box-styleB-3">+</span>
        <span class="box-styleB-4">+</span>

        <span class="box-styleB-5">+</span>
        <span class="box-styleB-6">+</span>
        <span class="box-styleB-7">+</span>
        <span class="box-styleB-8">+</span>

        <span class="box-styleB-9">+</span>
        <span class="box-styleB-10">+</span>
        <span class="box-styleB-11">+</span>
        <span class="box-styleB-12">+</span>

        <span class="box-styleB-13">+</span>
        <span class="box-styleB-14">+</span>
        <span class="box-styleB-15">+</span>
        <span class="box-styleB-16">+</span>
    </div>
    <div class="line-style-1">
        <div class="line-1"></div>
        <div class="line-2"></div>
        <div class="line-3"></div>
        <div class="line-4"></div>
        <div class="line-5"></div>
        <div class="line-6"></div>
        <div class="line-7"></div>
        <div class="line-8"></div>
    </div>
    <div class="law-bg">
        <!-- TODO::  Add Scale background image -->
    </div>

    <div class="our-team-box"></div>

    <section class="our-team">
        <span class="our-team-numbering">I.</span>
        <span class="our-team-title">Tim Kami</span>
        <span class="our-team-desc">Sebagai sebuah Lembaga Bantuan Hukum, SORATICE (Solo Raya Justice) akan terus memperjuangkan pemenuhan, penghormatan dan perlindungan Hak Asasi Manusia (HAM), dalam setiap langkah organisasi induk, LBH SORATICE selalu berpegang teguh pada nilai-nilai keberagaman,non-diskriminasi dan keadilan gender.</span>
        <!-- TODO:: Add link to page -->
        <a href="">
            <div class="btn-plus-box">
                <span class="btn-txt-box material-symbols-outlined material-icons md-30">add</span>
            </div>
            <span class="more-txt">Lebih lanjut</span>
        </a>
    </section>

    <div class="plus-box-styleW-2">
        <span class="box-styleW-1">+</span>
        <span class="box-styleW-2">+</span>
        <span class="box-styleW-3">+</span>
        <span class="box-styleW-4">+</span>
        <span class="box-styleW-5">+</span>
        <span class="box-styleW-6">+</span>

        <span class="box-styleW-7">+</span>
        <span class="box-styleW-8">+</span>
        <span class="box-styleW-9">+</span>
        <span class="box-styleW-10">+</span>
        <span class="box-styleW-11">+</span>
        <span class="box-styleW-12">+</span>

        <span class="box-styleW-13">+</span>
        <span class="box-styleW-14">+</span>
        <span class="box-styleW-15">+</span>
        <span class="box-styleW-16">+</span>
        <span class="box-styleW-17">+</span>
        <span class="box-styleW-18">+</span>

        <span class="box-styleW-19">+</span>
        <span class="box-styleW-20">+</span>
        <span class="box-styleW-21">+</span>
        <span class="box-styleW-22">+</span>
        <span class="box-styleW-23">+</span>
        <span class="box-styleW-24">+</span>

        <span class="box-styleW-25">+</span>
        <span class="box-styleW-26">+</span>
        <span class="box-styleW-27">+</span>
        <span class="box-styleW-28">+</span>
        <span class="box-styleW-29">+</span>
        <span class="box-styleW-30">+</span>

        <span class="box-styleW-31">+</span>
        <span class="box-styleW-32">+</span>
        <span class="box-styleW-33">+</span>
        <span class="box-styleW-34">+</span>
        <span class="box-styleW-35">+</span>
        <span class="box-styleW-36">+</span>
    </div>

    <div class="purpose">
        <div class="purpose-bg-img"></div>
    </div>
    <div class="plus-box-styleB-2">
        <span class="box-styleB-1">+</span>
        <span class="box-styleB-2">+</span>
        <span class="box-styleB-3">+</span>
        <span class="box-styleB-4">+</span>

        <span class="box-styleB-5">+</span>
        <span class="box-styleB-6">+</span>
        <span class="box-styleB-7">+</span>
        <span class="box-styleB-8">+</span>

        <span class="box-styleB-9">+</span>
        <span class="box-styleB-10">+</span>
        <span class="box-styleB-11">+</span>
        <span class="box-styleB-12">+</span>

        <span class="box-styleB-13">+</span>
        <span class="box-styleB-14">+</span>
        <span class="box-styleB-15">+</span>
        <span class="box-styleB-16">+</span>
    </div>
    <div class="purpose-box"></div>
    <section class="purpose">
        <span class="purpose-numbering">II.</span>
        <div class="purpose-numbering-line"></div>
        <span class="purpose-title">Apa yang SORATICE lakukan</span>
        <span class="purpose-desc">Kehadiran SORATICE bagi masyarakat yang “Terpinggirkan” tidak saja dalam bentuk proses mencari keadilan, tetapi justru juga akan memberikan suatu proses pendidikan hukum (legal education), yang mana akan dapat menumbuhkan suatu kesadaran hukum (legal consciousness) bagi masyarakat, agar dapat mengerti dan memahami akan hak-hak dan kewajibannya berinteraksi hukum dalam masyarakat.</span>
        <div class="purpose-action">
            <div class="purpose-btn-line-1">
                <div class="btn-plus-box"></div>
                <span class="btn-txt-box material-symbols-outlined material-icons md-30">add</span>
                <span class="more-txt">Konsultasi Hukum</span>
            </div>
            <div class="purpose-btn-line-2">
                <div class="btn-plus-box"></div>
                <span class="btn-txt-box material-symbols-outlined material-icons md-30">add</span>
                <span class="more-txt">Donasi</span>
            </div>
            <div class="purpose-btn-line-3">
                <div class="btn-plus-box"></div>
                <span class="btn-txt-box material-symbols-outlined material-icons md-30">add</span>
                <span class="more-txt">Pelayanan Online</span>
            </div>
            <div class="purpose-btn-line-4"></div>
        </div>
    </section>
    
    <div class="box-style1"></div>
    <div class="box-style2"></div>
    <div class="plus-box-styleB-3">
        <span class="box-styleB-1">+</span>
        <span class="box-styleB-2">+</span>
        <span class="box-styleB-3">+</span>
        <span class="box-styleB-4">+</span>
        <span class="box-styleB-5">+</span>
        <span class="box-styleB-6">+</span>
        <span class="box-styleB-7">+</span>
        <span class="box-styleB-8">+</span>
        <span class="box-styleB-9">+</span>
        <span class="box-styleB-10">+</span>
        <span class="box-styleB-11">+</span>
        <span class="box-styleB-12">+</span>
        <span class="box-styleB-13">+</span>
        <span class="box-styleB-14">+</span>
        <span class="box-styleB-15">+</span>
        <span class="box-styleB-16">+</span>
    </div>
    <div class="box-style3"></div>
    <div class="box-style4"></div>
    <div class="box-style5"></div>
    <div class="box-style6"></div>
    <div class="plus-box-styleB-4">
        <span class="box-styleB-1">+</span>
        <span class="box-styleB-2">+</span>
        <span class="box-styleB-3">+</span>
        <span class="box-styleB-4">+</span>
        <span class="box-styleB-5">+</span>
        <span class="box-styleB-6">+</span>
        <span class="box-styleB-7">+</span>
        <span class="box-styleB-8">+</span>
        <span class="box-styleB-9">+</span>
        <span class="box-styleB-10">+</span>
        <span class="box-styleB-11">+</span>
        <span class="box-styleB-12">+</span>
        <span class="box-styleB-13">+</span>
        <span class="box-styleB-14">+</span>
        <span class="box-styleB-15">+</span>
        <span class="box-styleB-16">+</span>
    </div>

    <div class="partner-top-line"></div>
    <section class="partner">
        <span class="partner-title">Bekerja sama dengan</span>
        <div class="partner-img">
            <div class="partner1"></div>
            <div class="partner2"></div>
            <div class="partner3"></div>
            <div class="partner4"></div>
        </div>
    </section>
    <div class="partner-bottom-line"></div>

    <img src="/static/img/landing/home-blog1.jpg" alt="" class="img-style1">
    
    <div class="blogs">
        <span class="blogs-numbering">III.</span>
        <div class="blogs-numbering-line"></div>
        <span class="blogs-title">Berita</span>
        <div class="blogs-card">
            <div class="blogs-card-date">31 Mei 2022</div>
            <div class="blogs-card-title">Mengenal Prinsip-Prinsip Lembaga Bantuan Hukum Solo Raya Justice</div>
            <div class="blogs-card-desc">Kehadiran SORATICE bagi masyarakat yang “Terpinggirkan” tidak saja dalam bentuk proses mencari keadilan, tetapi justru juga akan memberikan suatu proses pendidikan hukum ...</div>
            <a href="">
                <div class="btn-plus-box">
                    <span class="btn-txt-box material-symbols-outlined material-icons md-30">add</span>\
                </div>
                <span class="more-txt">Lebih lanjut</span>
            </a>
        </div>
        <div class="box-style9"></div>
        <img src="/static/img/landing/home-blog1.jpg" alt="" class="blogs-card-img">
        <img src="/static/img/landing/home-blog1.jpg" alt="" class="blogs-card-imgL" style="flex-wrap: wrap;">
        <img src="/static/img/landing/home-blog1.jpg" alt="" class="blogs-card-imgR" style="flex-wrap: wrap;">
        <a href="">
            <div class="next-blogL">
                <span class="btn-txt-box material-symbols-outlined material-icons md-30">keyboard_arrow_left</span>
            </div>
            <div class="next-blogR">
                <span class="btn-txt-box material-symbols-outlined material-icons md-30">keyboard_arrow_right</span>
            </div>
        </a>
        <a href="" class="more-blogs">
            <div class="btn-plus-box">
                <span class="btn-txt-box material-symbols-outlined material-icons md-30">feed</span>
            </div>
            <h4 class="more-txt">Berita lainnya</h4>
        </a>
    </div>

    <div class="plus-box-styleB-6"></div> <!-- TODO-->
    <div class="plus-box-styleB-5"></div> <!-- TODO-->
    <div class="box-style7"></div>
    <div class="box-style8"></div>
    
    <!-- TODO A LOT OF STYLES -->

    <div class="gallery">
        <span class="gallery-numbering">IV.</span>
        <div class="gallery-numbering-line"></div>
        <span class="gallery-title">Galeri</span>
        <div class="more-gallery">
            <h3>Aktif!</h3>
            <p>SORATICE aktif terlibat dalam kegiatan-kegiatan dengan masyarakat</p>
            <a href="">
                <div class="btn-plus-box">
                    <span class="btn-txt-box material-symbols-outlined material-icons md-30">add</span>\
                </div>
                <span class="more-txt">Lebih lanjut</span>
            </a>
        </div>
        <div class="box-style10"></div>
        <img src="/static/img/landing/home-blog1.jpg" alt="" class="gallery-ex1">
        <img src="/static/img/landing/home-blog1.jpg" alt="" class="gallery-ex2">
        <img src="/static/img/landing/home-blog1.jpg" alt="" class="gallery-ex3">
    </div>

    <div class="bottombar">
        <div class="contact-us">Hubungi kami</div>
        <div>
            <span class="btn-txt-box material-symbols-outlined">arrow_forward</span>
        </div>
    </div>

    <footer>
        <div class="links">
            <div class="box-style11"></div>
            <div class="logo"></div>
            <ul class="social-media">
                <li class="call">
                    <div class="btn-txt-box material-icons-filled material-icons md-30">phone</div>
                    <a href="https://api.whatsapp.com/send?phone=6281215680513&text=">0812-1568-0513</a>
                </li>
                <li class="location">
                    <div class="btn-txt-box material-icons-filled material-icons md-30">place</div>
                    <p>Jalan Temugiring Raya No.23
                        Pajang
                        Kecamatan Laweyan
                        Kota Surakarta
                        Jawa Tengah 57161
                        Indonesia</p>
                    </li>
            </ul>
            <!-- <div class="address"></div> -->
        </div>
        <div class="line-9"></div>
        <div class="ppcookies">
            <span class="pp">Privacy Policy</span>
            <span class="cookies">More about cookies</span>
            <span class="arr">@ 2022 LBH Soloraya. All rights reserved | Designed and developed by</span>
        </div>
    </footer>
</body>
{% endblock %}