*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --heading: 'Montserrat', sans-serif;
    --main-color: #EFC12E;
	--main-container-color: #F4E1B5;
	--second-color: ;
}
body{
    font-family: 'Merriweather', sans-serif;
    background: #fff;
}

/* global styling */
img{
    width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
hr{
    width: 100%;
    border: none;
}
i {
    font-size: 24px;
}
h3 {
    font-size: 34px;
    letter-spacing: 2px;
    font-weight: bold;
}
/* header */
header {
	background-color: var(--main-color);
}
.top-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 30px;
}
.top-head .fa-solid{
    font-size: 2rem;
    cursor: pointer;
}
.top-head .head-logo {
    width: 90%;
}

/******* js related styling *****/

.times-btn{
    display: none;
}
.nav-bar{
    background: white;
    height: 0;
    overflow: hidden;
}
.show-nav{
    height: auto;
}

/********************/

.nav-bar ul li{
    text-align: center;
    display: block;
    padding: 15px 0;
    transition: all 1s ease-in-out;
}

.nav-bar ul li:hover{
    background: #0e0e0e;
}

.nav-bar ul li a{
    font-size: large;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}
.show-nav ul li a{
    font-size: large;
    font-weight: bold;
    color: var(--main-color);
    text-transform: uppercase;
}

.nav-bar ul li a:hover{
    text-decoration: underline;
}
/* header responsive */
@media(min-width: 320px) {
    .top-head .head-logo {
        width: 40%;
    }
}
@media(min-width: 800px) {
    .top-head .head-logo {
        width: 100%;
    }
}

/* title */
.title {
	background-color: var(--main-color);
	min-height: auto;
	display: block;
	padding: 4rem 0;
	position: relative;
}
.title h1 {
	padding: 4px;
	display: flex;
    font-size: 5rem;
	align-items: center;
	justify-content: center;
}
.title h2 {
	margin: 0 3rem;
	padding: 4px;
    font-size: 3rem;
	display: flex;
	justify-content: flex-start;
}
/* title responsive */
@media screen and (max-width: 1440px) {
    .title h1 {
        font-size: 5rem;
    }
    .title h2 {
        font-size: 3rem;
    }
}
@media screen and (max-width: 1024px) {
    .title h1 {
        font-size: 4rem;
    }
    .title h2 {
        font-size: 2rem;
    }
}
@media screen and (max-width: 768px) {
    .title h1 {
        font-size: 3rem;
    }
    .title h2 {
        font-size: 1.5rem;
    }
}
@media(max-width: 500px) {
    .title h1 {
        font-size: 30px;
    }
    .title h2 {
        font-size: 14px;
        margin-left: 1rem;
    }
}
@media(max-width: 320px) {
    .title h1 {
        font-size: 25px;
    }
    .title h2 {
        font-size: 12px;
        margin-left: 1rem;
    }
}


/* our-team */
.our-team {
    background-color: var(--main-color);
    transition: all 0.5s;
}
.our-team-left {
    padding: 8rem 9rem;
    display: flex;
    flex-direction: column;
}
.our-team-left ul {
    font-size: 5rem;
    color: white;
}
.our-team-left h3 {
    color: white;
}
.our-team-left p {
    font-size: 20px;
    padding: 3rem 0;
    color: white;
}
.our-team-left .more-btn {
    display: flex;
    align-items: center;
}
.our-team-left .plus-container {
    padding: 12px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
}
.our-team-left i {
    color: var(--main-color);
}
.our-team-left a {
    color: white;
    padding-left: 2rem;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
}
.our-team-right {
    padding: 4rem 5rem 0 0;
    display: flex;
    align-items: center;
}
.our-team-right img {
    width: 100%;
    height: 53%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.7;
}
@media screen and (max-width: 1024px) {
    .our-team-left {
        padding: 12rem 6rem;
    }
    .our-team-left ul {
        font-size: 4rem;
    }
    .our-team-right {
        padding-right: 4rem;
    }
    .our-team-right img {
        height: 28%;
    }
}
@media screen and (min-width: 992px) {
    .our-team {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 768px) {
    .our-team-left {
        padding: 5rem 3rem 0 3rem;
    }
    .our-team-left ul {
        font-size: 3rem;
    }
    .our-team-right {
        padding: 0 3rem 5rem 3rem;
    }
    .our-team-right img {
        height: 25%;
    }
    .our-team-left .more-btn i{
        font-size: 16px;
    }
}
@media(max-width: 500px) {
    .our-team-left {
        padding: 5rem 2rem 0 2rem;
    }
    .our-team-left ul {
        font-size: 2rem;
    }
    .our-team-left h3 {
        font-size: 2rem;
    }
    .our-team-right {
        padding: 0 2rem 4rem 2rem;
    }
    .our-team-right img {
        height: 18%;
    }
    .our-team-left p {
        font-size: 14px;
    }
    .our-team-left .plus-container {
        padding: 8px;
    }
    .our-team-left .more-btn a{
        padding-left: 1rem;
        font-size: 12px;
    }
}
@media(max-width: 320px) {
    .our-team-left {
        padding: 3rem 2rem 0 2rem;
    }
    .our-team-left ul {
        font-size: 2rem;
    }
    .our-team-left h3 {
        font-size: 1rem;
    }
    .our-team-right {
        padding: 0 2rem 3rem 2rem;
    }
    .our-team-right img {
        height: 11%;
    }
    .our-team-left p {
        padding: 2rem 0;
        font-size: 10px;
    }
    .our-team-left .plus-container {
        padding: 8px;
    }
    .our-team-left .more-btn i{
        font-size: 18px;
    }
    .our-team-left .more-btn a{
        padding-left: 1rem;
        font-size: 12px;
    }
}

/* purpose */
.purpose {
    min-height: 170vh;
    display: flex;
    flex-direction: column;
}
.purpose img {
    height: 80%;
    position: absolute;
    z-index: -10;
}
.purpose-content .purpose-left {
    padding: 9rem 0 5rem 9rem;
}
.purpose-content .purpose-left p {
    font-size: 24px;
    padding: 10rem 10rem 9rem 0;
}
.purpose hr {
    border-top: 1.5px solid black;
}
.purpose .purpose-action {
    width: 80%;
}
.purpose .purpose-action .plus-container {
    padding: 12px;
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}
.purpose .purpose-btn {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.purpose .purpose-action h5 {
    font-weight: 500;
    font-size: 20px;
}
.purpose-content .purpose-right {
    height: 30%;
    padding: 13rem 9rem 0 0;
    display: flex;
    align-items: center;
}
.purpose-right hr {
    border-top: 3px solid black;
}
.purpose .purpose-right ul {
    font-size: 5rem;
    color: black;
}
@media screen and (max-width: 1024px) {
    .purpose-content .purpose-right {
        padding: 14rem 6rem 0 0;
    }
    .purpose .purpose-right ul {
        font-size: 4rem;
    }
    .purpose-content .purpose-left {
        padding: 8rem 0 0 6rem;
    }
    .purpose-content .purpose-left p{
        font-size: 20px;
        padding: 7rem 0 8rem 0;
    }
    .purpose-content .purpose-left .purpose-action{
        width: 100%;
    }
}
@media screen and (min-width: 992px) {
    .purpose-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "a b";
    }
    .purpose-right {
        grid-area: b;
    }
    .purpose-left {
        grid-area: a;
    }
}
@media screen and (max-width: 768px) {
    .purpose {
        min-height: 155vh;
    }
    .purpose-content img {
        height: 70%;
    }
    .purpose-content .purpose-right {
        padding: 8rem 3rem 0 3rem;
    }
    .purpose-content .purpose-right hr {
        margin: 0 9rem 0 2rem;
    }
    .purpose-content .purpose-left {
        padding: 0 3rem 0 3rem;
    }
    .purpose-content .purpose-left p{
        padding: 7rem 3rem 5rem 0;
    }
}
@media(max-width: 500px) {
    .purpose {
        min-height: 135vh;
    }
    .purpose-content img {
        height: 70%;
    }
    .purpose-content .purpose-right {
        padding: 5rem 2rem 0 2rem;
    }
    .purpose .purpose-right ul {
        font-size: 2rem;
    }
    .purpose .purpose-right hr {
        margin: 0 1rem 0 1rem;
    }
    .purpose-content .purpose-left {
        padding: 3rem 2rem;
    }
    .purpose-content .purpose-left h3 {
        font-size: 2rem;
    }
    .purpose-content .purpose-left p{
        padding: 4rem 2rem 4rem 0;
        font-size: 16px;
    }
    .purpose .purpose-btn {
        padding: 0.5rem 0;
    }
    .purpose .purpose-action h5 {
        font-size: 16px;
    }
    .purpose .purpose-action .plus-container {
        padding: 10px;
    }
    .purpose .purpose-action .plus-container i{
        font-size: 16px;
    }
}
@media(max-width: 320px) {
    .purpose {
        min-height: 100vh;
    }
    .purpose-content img {
        height: 38%;
    }
    .purpose-content .purpose-right {
        padding: 3rem 2rem 0 2rem;
    }
    .purpose .purpose-right ul {
        font-size: 2rem;
    }
    .purpose .purpose-right hr {
        margin: 0 3rem 0 1rem;
    }
    .purpose-content .purpose-left {
        padding: 0 2rem 0 2rem;
    }
    .purpose-content .purpose-left h3 {
        font-size: 1rem;
    }
    .purpose-content .purpose-left p{
        padding: 3rem 0 3rem 0;
        font-size: 10px;
    }
    .purpose .purpose-btn {
        padding: 0.5rem 0;
    }
    .purpose .purpose-action h5 {
        font-size: 10px;
    }
    .purpose .purpose-action .plus-container {
        padding: 8px;
    }
    .purpose .purpose-action .plus-container i{
        font-size: 18px;
    }
}

/* partner */
.partner {
    padding: 2rem 0;
    min-height: 80vh;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
    display: flex;
    background-color: var(--main-color);
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid white;
}
.partner hr {
    border-top: 2px solid white;
}
.partner h3 {
    padding-top: 3rem;
}
.partner .slider-track {
    padding: 3rem 0 12rem 0;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 8);
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 4));
    }
}
.slider-track .slide {
    padding: 3rem;
    align-items: center;
    height: 250px;
    width: 250px;
    display: flex;
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
    .partner .slider-track {
        padding: 3rem 0 8rem 0;
    }
}
@media(max-width: 500px) {
    .partner h3 {
        font-size: 2rem;
    }
    .partner .slider-track {
        padding: 2rem 0 5rem 0;
    }
}
@media(max-width: 320px) {
    .partner {
        min-height: 60vh;
    }
    .partner h3 {
        font-size: 1rem;
    }
    .partner .slider-track {
        padding: 2rem 0 4rem 0;
    }
    .slider-track .slide {
        padding: 1.5rem;
        height: 180px;
        width: 180px;
    }
}

/* blogs */
.blogs {
    transition: all 0.5s;
}
.blogs-left {
    padding: 15rem 9rem;
    display: flex;
    flex-direction: column;
}
.blogs-left ul {
    font-size: 5rem;
}
.blogs-left .blogs-highlight {
    margin: 4rem 0;
    padding: 4rem;
    background-color: var(--main-container-color);
    min-height: 100vh;
    display: block;
    width: 600px;
}
.blogs-left .date {
    padding-bottom: 1rem;
    font-size: 16px;
}
.blogs-left .blogs-highlight h4 {
    font-size: 26px;
    padding: 4rem 0;
}
.blogs-left p {
    padding-bottom: 4rem;
    font-size: 20px;
    width: 80%;
}
.blogs .blogs-left  .blogs-highlight .more-btn {
    display: flex;
    align-items: center;
}
.blogs .blogs-left .blogs-highlight .more-btn .plus-container {
    padding: 12px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
}
.blogs .blogs-left .more-btn .plus-container i {
    color: var(--main-container-color);
}
.blogs .blogs-left .more-btn a {
    color: white;
    padding-left: 2rem;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
}
.blogs-highlight .content {
    display: flex;
}
.wrapper{
    margin: auto;
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
  }
.wrapper i{
    top: 0;
    height: 44px;
    width: 44px;
    color: #fff;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #000;
    transition: transform 0.1s linear;
  }
.wrapper i:hover{
    background: var(--main-color);
  }
.wrapper i:first-child{
    left: 0;
  }
.wrapper i:last-child{
    right: 0;
  }
.wrapper .carousel{
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
.carousel img{
    height: 400px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(125% / 3);
    z-index: 12;
}
.wrapper .carousel img:first-child{
    position: relative;
    margin-left: 0px;
    z-index: -1;
  }
.blogs-right {
    padding: 15rem 9rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.blogs .more-blogs-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.blogs .more-blogs-btn .plus-container {
    padding: 12px;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
}
.blogs .more-blogs-btn .plus-container i {
    color: white;
}
.blogs .more-blogs-btn a {
    color: black;
    padding-left: 2rem;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
}
@media screen and (max-width: 1024px) {
    .blogs-left {
        padding: 8rem 0 0 6rem;
    }
    .blogs-left ul {
        font-size: 4rem;
    }
    .blogs-left .blogs-highlight {
        padding: 2rem;
        width: 500px;
    }
    .blogs-left .blogs-highlight h4 {
        padding: 3rem 0;
    }
    .carousel img{
        height: 350px;
        width: calc(139.5% / 3);
    }
    .blogs-right {
        padding: 63rem 4rem 6rem 0;
    }
}
@media screen and (max-width: 900px) {
    .carousel img{
      width: calc(100% / 2);
    }
  }
@media screen and (max-width: 768px) {
    .blogs-left {
        padding: 8rem 0 0 3rem;
    }
    .blogs-left ul {
        font-size: 4rem;
    }
    .blogs-left .blogs-highlight {
        padding: 2rem;
        min-height: 80vh;
        width: 400px;
    }
    .blogs-left .blogs-highlight h4 {
        font-size: 20px;
        padding: 2rem 0;
    }
    .blogs-left .blogs-highlight p {
        font-size: 18px;
    }
    .blogs .blogs-left .blogs-highlight .more-btn .plus-container i {
        font-size: 16px;
    }
    .blogs .blogs-left .more-btn a {
        padding-left: 1rem;
    }
    .carousel img{
        height: 250px;
        width: calc(136% / 3);
    }
    .blogs-right {
        padding: 55rem 2rem 8rem 0;
    }
    .blogs .more-blogs-btn i {
        font-size: 16px;
    }
    .blogs .more-blogs-btn a {
        padding-left: 1rem;
    }
}
@media screen and (min-width: 500px) {
    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "a b";
    }
    .blogs-right {
        grid-area: b;
    }
    .blogs-left {
        grid-area: a;
    }
}
@media(max-width: 500px) {
    .blogs-left {
        padding: 6rem 2rem 0 2rem;
    }
    .blogs-left ul {
        font-size: 2rem;
    }
    .blogs-left h3 {
        font-size: 2rem;
    }
    .blogs-left .blogs-highlight {
        padding: 1.5rem;
        min-height: 75vh;
        width: 100%;
    }
    .blogs-left .blogs-highlight h4 {
        font-size: 20px;
        padding: 1.5rem 0;
    }
    .blogs-left .blogs-highlight p {
        font-size: 16px;
    }
    .blogs-hint, .blogs .blogs-left .blogs-highlight .more-btn, .wrapper i {
        display: none;
    }
    .blogs .blogs-left .blogs-highlight .more-btn .plus-container i {
        font-size: 16px;
    }
    .blogs .blogs-left .more-btn a {
        padding-left: 1rem;
    }
    .wrapper {
        position: relative;
    }
    .carousel img{
        height: 250px;
        width: 100%;
    }
    .wrapper .carousel img:first-child{
        position: relative;
        margin-left: 0px;
        z-index: 1;
      }
    .blogs-right {
        padding: 0 2rem 5rem 2rem;
        flex-direction: row;
        justify-content: flex-start;
    }
    .blogs .more-blogs-btn i {
        font-size: 16px;
    }
    .blogs .more-blogs-btn a {
        padding-left: 12px;
    }
}
@media(max-width: 320px) {
    .blogs-left {
        padding: 4rem 2rem 0 2rem;
    }
    .blogs-left ul {
        font-size: 2rem;
    }
    .blogs-left h3 {
        font-size: 1rem;
    }
    .blogs-left .blogs-highlight {
        margin: 2rem 0;
        padding: 1.5rem;
        min-height: 70vh;
        width: 100%;
    }
    .blogs-left .blogs-highlight h4 {
        font-size: 14px;
        padding: 1rem 0;
    }
    .blogs-left .blogs-highlight p {
        font-size: 10px;
        padding: 0;
    }
    .blogs-hint, .blogs .blogs-left .blogs-highlight .more-btn, .wrapper i {
        display: none;
    }
    .blogs .blogs-left .blogs-highlight .more-btn .plus-container i {
        font-size: 16px;
    }
    .blogs .blogs-left .more-btn a {
        padding-left: 1rem;
    }
    .wrapper {
        position: relative;
    }
    .carousel img{
        height: 250px;
        width: 100%;
    }
    .wrapper .carousel img:first-child{
        position: relative;
        margin-left: 0px;
        z-index: 1;
      }
    .blogs-right {
        padding: 0 2rem 5rem 2rem;
        flex-direction: row;
        justify-content: flex-start;
    }
    .blogs .more-blogs-btn i {
        font-size: 16px;
    }
    .blogs .more-blogs-btn a {
        font-size: 12px;
        padding-left: 1rem;
        padding-left: 12px;
    }
}

/* gallery */
.gallery {
    min-height: 130vh;
}
.gallery-right {
    right: 50;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.gallery .gallery-num {
    width: 30%;
    height: 30%;
    padding: 2rem 9rem 0 0;
    display: flex;
    align-items: center;
}
.gallery .gallery-right .gallery-num hr {
    width: 100%;
    border-top: 1.5px solid black;
}
.gallery .gallery-right .gallery-num ul {
    font-size: 5rem;
    color: black;
}
.gallery-right h3 {
    padding: 0 21.5rem 0 0;
}
.grid-wrapper {
    padding: 3rem;
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: column;
}
.v-stretch {
    grid-row: span 2;
}
.h-stretch {
    grid-column: span 2;
}
.big-stretch {
    grid-row: span 2;
    grid-column: span 2;
}
.grid-wrapper div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.more-gallery {
    background-color: var(--main-container-color);
    padding: 1rem;
}
.more-gallery h5 {
    font-size: 24px;
}
.more-gallery p {
    font-size: 18px;
    padding: 2rem 1rem 2rem 0;
}
.more-gallery .more-btn {
    display: flex;
    align-items: center;
}
.more-gallery .plus-container {
    padding: 12px;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
}
.more-gallery i {
    color: white;
}
.more-gallery a {
    color: black;
    padding-left: 2rem;
    font-weight: bold;
    font-size: 18px;
}
@media screen and (max-width: 1440px) {
    .gallery-right h3 {
        padding: 0 20rem 0 0;
    }
}
@media screen and (max-width: 1024px) {
    .grid-wrapper {
        grid-template-columns: none;
        grid-template-areas: 
        "a a b"
        "c d b";
    }
    .gallery-right h3 {
        padding: 0 12rem 0 0;
    }
}
@media screen and (max-width: 768px) {
    .more-gallery p {
        padding: 2rem 1rem 2rem 0;
    }
    .more-gallery a {
        padding-left: 1rem;
        font-size: 1rem;
    }
    .more-gallery i {
        font-size: 16px;
    }
    .gallery-right {
        padding: 3rem;
        align-items: flex-start;
    }
    .grid-wrapper {
        margin: 0;
        padding-right: 0;
    }
    .gallery .gallery-right .gallery-num ul {
        font-size: 4rem;
    }
}
@media(max-width: 500px) {
    .grid-wrapper {
        padding: 0 0 0 2rem;
        margin: 0;
        grid-template-columns: none;
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d";
        padding-bottom: 3rem;
    }
    .more-gallery {
        padding: 2rem;
    }
    .more-gallery h5 {
        font-size: 22px;
    }
    .more-gallery p {
        padding: 2rem 0;
        font-size: 16px;
    }
    .more-gallery a {
        font-size: 12px;
    }
    .more-gallery .plus-container {
        padding: 10px;
    }
    .gallery-right {
        padding: 2rem;
    }
    .gallery .gallery-right .gallery-num ul {
        font-size: 2rem;
    }
    .gallery .gallery-right h3 {
        font-size: 2rem;
        padding: 0;
    }
}
@media(max-width: 320px) {
    .grid-wrapper {
        grid-template-columns: none;
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d";
        padding-bottom: 3rem;
    }
    .more-gallery {
        padding: 1rem;
    }
    .gallery-right {
        padding: 2rem;
    }
    .gallery .gallery-right .gallery-num ul {
        font-size: 2rem;
    }
    .gallery .gallery-right h3 {
        font-size: 1rem;
        padding: 0;
    }
}

/* footer */
footer{
    background: var(--main-color);
    color: #f3f3f3;
    padding: 30px;
}
footer h2{
    padding: 10px 0;
}
footer p{
    padding: 10px 0;
    line-height: 1.3;
}
.footer-left, 
.footer-right{
    margin: 0 20px;
}
footer > p{
    text-align: center;
    opacity: 0.8;
    margin-top: 20px;
}
.footer-left img {
    width: 10rem;
}
.footer-right i{
    font-size: 1.8rem;
    color: white;
}
.footer-right div{
    display: flex;
    align-items: center;
    justify-content: start;
    /* width: 400px; */
}
.footer-right p {
    padding-left: 1rem ;
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media(max-width: 500px) {
}
@media(max-width: 320px) {
    footer h2 {
        font-size: 1rem;
    }
    .footer-right i {
        font-size: 24px;
    }
    .footer-left p, .footer-right p {
        font-size: 12px;
    }
    footer p {
        font-size: 10px;
    }
}

@media(max-width: 460px){
    .top-head .head-logo {
        width: 50%;
    }
}

@media(min-width: 800px){
    /* nav */
    .ham-btn, .times-btn{
        display: none!important;
    }
    .navigation-container{
        display: flex;
        background: transparent;
        align-items: center;
        flex-wrap: wrap;
    }
    .top-head{
        flex: 0 0 15%;
    }
    .nav-bar{
        flex: 1 0 auto;
        height: 100%;
        background: transparent;
    }
    .nav-bar nav ul{
        display: flex;
        justify-content: flex-start;
    }
    .nav-bar nav ul li{
        padding-right: 30px;
    }
    .nav-bar nav ul li:hover{
        background: none;
    }
    .footer-container{
        display: flex;
    }
    .footer-right,
    .footer-left{
        flex: 1;
    }
}