{% extends 'base/base.html' %}
{%load static%}

{% block head %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="theme-color" content="#000000" />
<link rel="shortcut icon" href="./assets/img/favicon.ico" />
<link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<link rel="stylesheet" href="{% static 'css/compiled-tailwind/compiled-tailwind.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/account.css' %}" />
<title>LBH Solo | Dashboard</title>
{% endblock %}


{% block body %}

<body class="text-blueGray-700 antialiased">

    <div id="root">
        <nav class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl bg-white flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-6">
            <div
                class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-auto">
                <button
                    class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
                    type="button" onclick="toggleNavbar('example-collapse-sidebar')">
                    <i class="fas fa-bars"></i></button>
                <a class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold">
                    <img src="{% static 'img/logo-1.png' %}">
                </a>
                <div class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded hidden"
                    id="example-collapse-sidebar">
                    <div class="md:min-w-full md:hidden block pb-4 mb-4 border-b border-solid border-blueGray-200">
                        <div class="flex flex-wrap">
                            <div class="w-6/12">
                                <a class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0">
                                    Dashboard
                                </a>
                            </div>
                            <div class="w-6/12 flex justify-end">
                                <button type="button"
                                    class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
                                    onclick="toggleNavbar('example-collapse-sidebar')">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <ul class="md:flex-col md:min-w-full flex flex-col list-none">
                        <li class="items-center mb-3">
                            <a class="text-blueGray-700 hover:text-blueGray-500 text-sm font-bold" href="/supervisor/">
                            <i class="fas fa-tv text-blueGray-400 text-base mr-3"></i>
                            Dashboard</a>
                        </li>
                        <li class="items-center mb-3">
                            <a class="text-blueGray-700 hover:text-blueGray-500 text-sm font-bold" href="/supervisor/upload-article/">
                            <i class="fas fa-paint-brush text-blueGray-400 text-base mr-3"></i>
                            Buat Berita</a>
                        </li>
                        <li class="items-center mb-3">
                            <a class="text-blueGray-700 hover:text-blueGray-500 text-sm font-bold" href="#/dashboard">
                            <i class="fas fa-camera text-blueGray-400 text-base mr-3"></i>
                            Gambar Banner</a>
                        </li>
                        <li class="items-center mb-3">
                            <a class="text-amber-500 hover:text-amber-800 text-sm font-bold" href="/supervisor/accounts/">
                            <i class="fas fa-users opacity-75 text-base mr-2"></i>
                            Akun</a>
                        </li>
                        <hr class="mb-2"> 
                        <li class="items-center mb-3">
                            <a class="text-red-700 hover:text-blueGray-500 text-sm font-bold" href="#/dashboard">
                            <i class="fas fa-window-close text-red-400 text-base mr-3"></i>
                            Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="relative md:ml-64 bg-blueGray-50">
            <div id="modal-buat-akun" class="modal-buat-akun">
                <div class="dialog-box">
                    <div id="pre-loader" class="pre-loader">
                        <h2>Tunggu sebentar . . .</h2>
                    </div>
                    {% csrf_token %}
                    <input id="input-nama-lengkap" type="text" placeholder="Nama Lengkap">
                    <input id="input-email" type="email" placeholder="Email">
                    <input id="input-password" type="password" placeholder="Kata Sandi">
                    <input id="input-konfirmasi-password" type="password" placeholder="Konfirmasi Kata Sandi">
                    <div class="button-wrapper">
                        <button id="button-daftar-akun" type="submit">Daftar</button>
                        <button id="button-exit">Exit</button>
                    </div>
                </div>
            </div>
            
            <!-- Header -->
            <div class="relative bg-amber-500 md:pt-12 pb-32 pt-12">
            </div>

            <div class="px-4 md:px-10 mx-auto w-full -m-24">
                <div class="flex flex-wrap mt-4">
                    <div class="w-full mb-12 xl:mb-0 px-4">
                        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
                            <div class="rounded-t mb-0 px-4 py-3 border-0">
                                <div class="flex flex-wrap items-center">
                                    <div class="relative w-full max-w-full flex-grow flex-1">
                                        <h3 class="font-semibold text-base text-blueGray-700">
                                            Akun Administrator
                                        </h3>
                                    </div>
                                    <!-- Button Buat Akun -->
                                    <div class="flex relative">
                                        <a id="button-buat-akun" class="fas fa-pencil-alt text-white bg-amber-500 p-2 text-sm font-semibold rounded cursor-pointer"> Buat Akun</a>
                                    </div>
                                </div>
                            </div>

                            <div class="block w-full overflow-x-auto overflow-y-scroll" style="height: 25em;">
                                <!-- Projects table -->
                                <table class="items-center w-full bg-transparent border-collapse">
                                    <thead>
                                        <tr>
                                            <th
                                                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                                Akun ID
                                            </th>
                                            <th
                                                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                                Nama Pengguna
                                            </th>
                                            <th
                                                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                                Email
                                            </th>
                                            <th
                                                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                                Status
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <!-- LOOP ARTICLE HERE -->
                                        {% for account in account_query %}
                                        <tr>
                                            <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
                                                {{account.id}}
                                            </th>
                                            <td
                                                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                                {{account.first_name}} {{account.last_name}}
                                            </td>
                                            <td
                                                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                                {{account.email}}
                                            </td>
                                            {% if account.is_active is True %}
                                            <td
                                                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                                <i class="text-green-500 fas fa-circle" style="margin-left: 1.2em;"></i>
                                            </td>
                                            {% else %}
                                            <td
                                                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                                <i class="text-amber-500 fas fa-circle"></i>
                                            </td>
                                            {% endif %}
                                            
                                            <td class="border-t-0 px-6 text-xs">
                                                <a href="/supervisor/account/{{account.id}}/" class="fas fa-pencil-alt text-blue-500 mr-4"></a>
                                                <a style="cursor: pointer" onclick="deleteUser('{{account.id}}')" class="fas fa-trash text-red-500 mr-4"></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="block py-4">
                    <div class="container mx-auto px-4">
                        <hr class="mb-4 border-b-1 border-blueGray-200" />
                        <div class="flex flex-wrap items-center md:justify-between justify-center">
                            <div class="w-full md:w-4/12 px-4">
                                <div class="text-sm text-blueGray-500 font-semibold py-1">
                                    Copyright © <span id="javascript-date"></span>
                                    <a class="text-blueGray-500 hover:text-blueGray-700 text-sm font-semibold py-1">
                                        LBH Soloraya
                                    </a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/@popperjs/core@2.9.1/dist/umd/popper.min.js" charset="utf-8"></script>
    <script src="{% static 'js/supervisor/account.js' %}" charset="utf-8"></script>
</body>
{% endblock %}