*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --heading: 'Montserrat', sans-serif;
    --main-color: #EFC12E;
	--main-container-color: #F4E1B5;
	--second-color: ;
}
body{
    font-family: 'Merriweather', sans-serif;
    background: #fff;
}

.navigation-container{
    display: flex;
    width: 100%;
    background: var(--main-color);
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    z-index: 19;
}

.top-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 12px 18px;
    margin-left:2.5em;
}
.top-head .fa-solid{
    font-size: 2rem;
    cursor: pointer;
}
.top-head .head-logo {
    width: 100%;
    height: 60;
    position: relative;
}

.top-head .head-logo a {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
}

.nav-bar{
    background: white;
    height: 0;
    overflow: hidden;
    color: white;
}
.nav-bar ul li{
    text-align: center;
    display: block;
    padding: 15px 0;
    transition: all 1s ease-in-out;
    color: white;
}

.nav-bar ul li:hover{
    background: #0e0e0e;
}

.nav-bar ul li a{
    font-size: large;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
.nav-bar ul li a:hover{
    text-decoration: underline;
}

.main-wrapper {
    display: flex;
    padding: 7em 3em .5em 3em;
    justify-content: space-between;
}


.right-wrapper {
    box-shadow: 0 15px 25px rgba(188, 187, 184, 0.393);
    border-radius: 5px;
    backdrop-filter: blur(13px);
    background-color: rgba(230, 194, 31, 0.845);
    width: 25%;
    padding: .5em 1em .5em 1em;
    height: 25em;
    position: fixed;
    right: 2em;
}

.right-wrapper h2{
    font-size: 16px;
}

.article-wrap {
    display: flex;
    margin-top: .7em;
    position: relative;
}

.article-wrap a:first-child {
    position: absolute;
    width: 100%;
    height: 100%;
}

.article-wrap span {
    position: absolute;
}

.article-wrap .article-image {
    height: 65px;
}

.article-wrap .article-image img {
    width: 110px;
    height: inherit;
}

article .article-desc {
    display: flex;
    flex-direction: column;
    margin-left: .5em;
}

article .article-desc h2{
    font-size: 12px;
}

article .article-desc a{
    font-size: 10px;
    margin-top: 6px;
}


.left-wrapper {
    width: 72%;
    padding: .5em 1em .5em 1em;
    height: 50em;
}

.left-wrapper .main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-wrapper .main-header h2 {
    text-align: center;
    font-size: 28px;
    padding-bottom: .1em;
    padding-left: .2em;
    padding-right: .2em;
}

.left-wrapper .main-header a{
    font-size: 12px;
}

.left-wrapper .main-header .share{
    margin-top: .8em;
}

.left-wrapper .main-header .share .social a {
    font-size: 20px;
    color: rgb(45, 45, 94);
    margin-right: .5em;
    margin-left: .5em;
}

.left-wrapper .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.4em;
}

.left-wrapper .main-content .main-image{
    width: 85%;
    height: 22em;
    text-align: center;
}

.left-wrapper .main-content .main-image img{
    width: inherit;
    height: inherit;
}

.left-wrapper .main-content .main-desc{
    width: 83%;
    margin-top: 1.2em;
    margin-bottom: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-wrapper .main-content .main-desc p {
    margin-top: 8px;
}


/* footer */
footer{
    background: var(--main-color);
    color: #f3f3f3;
    padding: 30px;
    margin-top: 20em;
}
footer h2{
    padding: 10px 0;
}

footer .footer-right.information h2{
    font-size: 14px;
        font-weight: 600;
}

footer p{
    padding: 10px 0;
    line-height: 1.3;
    font-size: small;
}
.footer-left, 
.footer-right{
    margin: 0 20px;
}
footer > p{
    text-align: center;
    opacity: 0.8;
    margin-top: 20px;
}
.footer-left img {
    width: 6em;
}
.footer-right i{
    font-size: 16px;
    color: white;
}
.footer-right div{
    display: flex;
    align-items: center;
    justify-content: start;
    /* width: 400px; */
}
.footer-right p {
    padding-left: 1rem ;
}

@media(max-width: 500px) {

    .footer-container p {
        font-size: 10px;
    }

    .footer-left .logo img {
        width: 90px;
    }

    .footer-left p{
        font-size: 13px;
    }

    .footer-right i{
        font-size: 14px;
    }

    .footer-right.information div p {
        font-size: 13px;
    }

    .footer p {
        font-size: 15px;
    }
    .footer h2 {
        font-size: 16px;
        font-weight: 600;
    }
}
@media(max-width: 320px) {
    footer h2 {
        font-size: 18px;
        font-weight: 600;
    }
    .footer-right i {
        font-size: 24px;
    }
    .footer-left p, .footer-right p {
        font-size: 12px;
    }
    footer p {
        font-size: 10px;
    }
}


@media(max-width: 500px){

    .top-head{
        margin:0;
    }

    .top-head .head-logo{
        width: 60;
        height: 50;
    }

    .main-wrapper{
        flex-direction: column;
        padding: 7em 0 .5em 0;
    }

    .main-wrapper .left-wrapper {
        width: 100%;
        height: auto;
        padding: 0;
    }

    .left-wrapper .main-content .main-desc {
        font-size: 13px;
    }
    
    .left-wrapper .main-header h2{
        font-size: 18px;
        text-align: center;
    }

    .left-wrapper .main-content .main-image {
        height: 10.3em;
    }

    .main-wrapper .right-wrapper {
        position: initial;
        margin-top: .5em;
        width: 100%;
        height: auto;
        margin-bottom: 2em;
    }

    .main-wrapper .right-wrapper .main-container-right{
        width: 100%;
        height: auto;
    }
}