.plus-box-styleB-1 {
	position:absolute;
	left:74.5%;
	top:40%;
}
.box-styleB-1 {
    color:black;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Crimson Pro;
	text-align:left;
	font-size:32px;
}
.box-styleB-2 {
    color:black;
	position:absolute;
	left:20px;
	top:0px;
	font-family:Crimson Pro;
	text-align:left;
	font-size:32px;
}
.box-styleB-3 {
    color:black;
	position:absolute;
	left:40px;
	top:0px;
	font-family:Crimson Pro;
	text-align:left;
	font-size:32px;
}
.box-styleB-4 {
    color:black;
	position:absolute;
	left:60px;
	top:0px;
	font-family:Crimson Pro;
	text-align:left;
	font-size:32px;
}


.box-styleB-5 {
	color:black;
	position:absolute;
	left:0px;
	top:20px;
	font-family:Crimson Pro;
	text-align:left;
	font-size:32px;
}
.box-styleB-6 {
	color:black;
	position:absolute;
	left:20px;
	top:20px;
	font-family:Crimson Pro;
	text-align:left;
	font-size:32px;
}
.box-styleB-7 {
    color:black;
	position:absolute;
	left:40px;
	top:20px;
	font-family:Crimson Pro;
	text-align:left;
	font-size:32px;
}
.box-styleB-8 {
    color:black;
	position:absolute;
	left:60px;
	top:20px;
	font-family:Crimson Pro;
	text-align:left;
	font-size:32px;
}


.box-styleB-9 {
    color:black;
	position:absolute;
	left:0px;
	top:40px;
	font-family:Crimson Pro;
	text-align:left;
	font-size:32px;
}
.box-styleB-10 {
    color:black;
	position:absolute;
	left:20px;
	top:40px;
	font-family:Crimson Pro;
	text-align:left;
	font-size:32px;
}
.box-styleB-11 {
    color:black;
	position:absolute;
	left:40px;
	top:40px;
	font-family:Crimson Pro;
	text-align:left;
	font-size:32px;
}
.box-styleB-12 {
    color:black;
	position:absolute;
	left:60px;
	top:40px;
	font-family:Crimson Pro;
	text-align:left;
	font-size:32px;
}


.box-styleB-13 {
    color:black;
	position:absolute;
	left:0px;
	top:60px;
	font-family:Crimson Pro;
	text-align:left;
	font-size:32px;
}
.box-styleB-14 {
	color:black;
	position:absolute;
	left:20px;
	top:60px;
	font-family:Crimson Pro;
	text-align:left;
	font-size:32px;
}
.box-styleB-15 {
    color:black;
	position:absolute;
	left:40px;
	top:60px;
	font-family:Crimson Pro;
	text-align:left;
	font-size:32px;
}
.box-styleB-16 {
    color:black;
	position:absolute;
	left:60px;
	top:60px;
	font-family:Crimson Pro;
	text-align:left;
	font-size:32px;
}


